Package: sudokutouchgame
Version: 0.1
Architecture: all
Maintainer: Dinko Osmankovic <dinko@unknown>
Installed-Size: 691
Depends: qtdeclarative5-localstorage-plugin, qtdeclarative5-particles-plugin, qtdeclarative5-qtquick2-plugin, qtdeclarative5-ubuntu-ui-toolkit-plugin | qt-components-ubuntu, qtdeclarative5-window-plugin, qtdeclarative5-xmllistmodel-plugin, qmlscene
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
