[Desktop Entry]
Name=SudokuTouch
Encoding=UTF-8
Version=1.0
Comment=SudokuTouch Game for Ubuntu Touch
Exec=/usr/bin/qmlscene /usr/share/sudokutouchgame/SudokuTouch.qml
Icon=/usr/share/sudokutouchgame/SudokuGameIcon.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
