[Desktop Entry]
Name=Sudoku
Version=1.5
Comment=Sudoku Game for Ubuntu Touch
Exec=qmlscene -qt5 /usr/share/sudoku-app/sudoku-app.qml
Icon=/usr/share/sudoku-app/SudokuGameIcon.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Gettext-Domain=com.ubuntu.sudoku
