Source: sudoku-app
Section: games
Priority: extra
Maintainer: Dinko Osmankovic <dinko.metalac@gmail.com>
Build-Depends: debhelper (>= 9), 
               gettext,
Standards-Version: 3.9.4
Homepage: http://launchpad.net/sudoku-app
Vcs-Bzr: https://code.launchpad.net/~sudoku-touch-dev/sudoku-app/trunk

Package: sudoku-app
Section: misc
Architecture: all
Depends: ${misc:Depends},
         qmlscene,
         qtdeclarative5-qtquick2-plugin,
         qtdeclarative5-ubuntu-ui-toolkit-plugin | qt-components-ubuntu,
         qtdeclarative5-localstorage-plugin,
         qtdeclarative5-particles-plugin,
         qtdeclarative5-window-plugin,
         qtdeclarative5-xmllistmodel-plugin,
Description: Sudoku game for Ubuntu devices
 Simple Sudoku Touch game written in QML2/JS using Ubuntu SDK

Package: sudoku-app-autopilot
Architecture: all
Depends: libautopilot-qt,
         libqt5test5,
         sudoku-app (= ${source:Version})
Description: Autopilot UI tests for sudoku game for Ubuntu devices
 This package contains the autopilot tests for the Sudoku App
