Source: sudokutouchgame
Section: unknown
Priority: extra
Maintainer: Dinko Osmankovic <dinko@unknown>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/sudokutouchgame.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/sudokutouchgame.git;a=summary

Package: sudokutouchgame
Architecture: all
Depends: ${misc:Depends},qtdeclarative5-localstorage-plugin,qtdeclarative5-particles-plugin,qtdeclarative5-qtquick2-plugin,qtdeclarative5-ubuntu-ui-toolkit-plugin|qt-components-ubuntu,qtdeclarative5-window-plugin,qtdeclarative5-xmllistmodel-plugin,${shlibs:Depends},qmlscene
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
